@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

h1 {
  font-size: 2.2rem;
  color: lighten($orange, 25);
}

footer {
  height: 5em;
  background-color: #333333;
}

.nav-active {
  color:$gray;
}

.top-bar {
  padding-top: 5px;
  height: 55px !important;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;

  .UltraThin {
    @include font-style(100); 
  }
  .Thin {
    @include font-style(300); 
  }
  .Normal {
    @include font-style(400); 
  }
  .Bold {
    @include font-style(700); 
  }
  .UltraBold {
    @include font-style(900); 
  }
}

.heightback {
  height: 45px !important;
  padding-top: 0px;
}

.heightlarge {
  height: 240px !important;

}
.test {
  font-size: 1.2rem;
  color: $blue;
}

.orbit-timer {
  left: -10000px;
  top: auto;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.imageText {
  position: absolute;
  text-align: center;
  width: 100%;
  //top: XX -- is set by javascript to be responsive
}

.imageTitleText {
  @include font-style(900); 
  color: $white;
  font-size: 3rem;
}

.imageDescription {
  @include font-style(400); 
  color: $white;
  font-size: 1.2rem;
}

.buttonText {
  @include font-style(400); 
  color: $white;
}

.videoText {
  @include font-style(700); 
  color: $black;
  font-size: 2rem;
  line-height: 70%;
}

.videoDescription {
  @include font-style(300); 
  color: $gray;
  font-size: 1.3rem;
  line-height: 90%;
}

#margintop {
  margin-top: 3em;
}

#margintop-5 {
  margin-top: 5em;
}

#modalThumbnail {
  border-radius: $default-border-radius;
}

#borderline {
  border-bottom: solid 1px $gray;
}

.columnText {
  @include font-style(700); 
  color: $black;
  font-size: 2rem;
}

.whyText {
  @include font-style(400); 
  color: $black;
  font-size: 1.2rem;
}

.whyDescription {
  @include font-style(300); 
  color: $gray;
}

.admissionImage {
  background: $bg-url;
  border-radius: 6px;
  width: 100%;
  height: 30em;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.bgText {
  @include font-style(700); 
  color: $white;
  font-size: 3rem;

}

.socialText {
  @include font-style(400); 
  font-size: 1.5rem;
  color: $black;
}

.socialIcons {
    cursor: pointer;
    color: $gray;
    margin-left: .1em;
    margin-right: .1em;
}

.collegeName {
  @include font-style(700); 
  color: $black;
  font-size: 1.6rem;
}

.gray {
  color: $gray;
}

.angulartext {
  @include font-style(300); 
  color: $black;
}

.whyHeader {
  @include font-style(700); 
  color: $black;
  font-size: 1.2rem;

}