$orange         : #D45D00;
$blue           : #2176C7;
$white 			: #ffffff;
$black			: #000000;
$gray			: #646464;

$font-primary: 'Lato', sans-serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 4px;