<div class="row panel">
	<div class="small-1 column"></div>
	<div class="small-1 small-offset-1 text-center column prevMovie"><a href="imdb250.html#/movies/{{prevMovie}}"><i class="fa fa-arrow-left fa-2x" id="imdbLeftArrow"></i></a></div>
	<div class="small-3 columns"><img ng-src="/data/images/{{movie.imdbID}}.jpg" style="border-radius: 4px"></div>
	<div class="small-5 columns">
		<div class="movie">
		<div class="imdbDetailTitle">{{movie.title}}</div>


		<div class="imdbDetailSubTitle">Rank: {{movie.rank}}</div>

		<p class="imdbSearchDesc">{{movie.plot}}</p>


		<p class="imdbSearchDesc"><span class="imdbBold">Release Date: </span>{{movie.released}}</p>
		<p class="imdbSearchDesc"><span class="imdbBold">Runtime: </span>{{movie.runtime}}</p>
		<p class="imdbSearchDesc"><span class="imdbBold">Awards: </span>{{movie.awards}}</p>
		</div>
	</div>
	<div class="small-1 text-center column"><a href="imdb250.html#/movies/{{nextMovie}}"><i class="fa fa-arrow-right fa-2x" id="imdbRightArrow"></i></a></div>
	<div class="small-1 column"></div>

</div>