
<div class="container-fluid">
    <div class="row">
      <div class="panel">
      <div class="small-4"></div>
      <div class="small-4 small-offset-4 text-center" text-center>
        <!--Sidebar content-->
        Select Genre:
		<select ng-model="query.genre">
		      <option value="">All</option>
          <option value="Action">Action</option>
          <option value="Adventure">Adventure</option>
          <option value="Crime">Crime</option>
          <option value="Comedy">Comedy</option>
          <option value="Drama">Drama</option>
          <option value="Musical">Musical</option>
          <option value="Mystery">Mystery</option>
          <option value="Romance">Romance</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="Thriller">Thriller</option>
          <option value="Western">Western</option>
        </select>
      
      <div class="small-4"></div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="small-1"></div>
      <div class="small-10 small-offset-1 text-center">
        <!--Body content--><!--
        <ul class="phones">
          <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <span>{{phone.title}}</span>
            <p>{{phone.rank}}</p>-->
          






          
          <ul class="movieg large-block-grid-8 medium-block-grid-6 small-block-grid-4">
            <li ng-repeat="movie in movieg | filter:query:strict | orderBy:rank">

              <a href="imdb250.html#/movies/{{movie.rank}}" class="thumb"><img ng-src="/data/images/{{movie.imdbID}}.jpg"></a><br>

            </li>
          </ul>
          
          </li>
        </ul>

      </div>
      <div class="small-1"></div>

    </div>
</div>

