<!-- SEARCH -->
<div class="row">
  <div class="panel">
    <div class="small-4"></div>
    <div class="small-4 small-offset-4 text-center" text-center>
        <!--Sidebar content-->
      Search: <input type="text" placeholder="Type your query here" ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="title">Alphabetical</option>
        <option value="rank">Highest Rank</option>
      </select>
      <a href="" class="movies button secondary radius tiny" ng-click="reverse=!reverse;">Change Order</a>
    </div>
    <div class="small-4"></div>
  </div>
</div>

<!-- LIST -->
<div class="row">
  <div class="small-4"></div>
  <div class="small-4 small-offset-4 text-center">
    <ul class="movies small-block-grid-1">
      <li ng-repeat="movie in movies | filter:query | orderBy:orderProp:reverse" class="panel phone-listing" style="padding-top: 20px;" >
        <a href="imdb250.html#/movies/{{movie.rank}}"><img ng-src="/data/images/{{movie.imdbID}}.jpg" style="max-height: 300px"></a><br>
        <a href="imdb250.html#/movies/{{movie.rank}}"><span class="imdbSearchTitle">{{movie.title}}</span></a>
        <p class="imdbSearchDesc">Rank: {{movie.rank}}</p>
      </li>
    </ul>
  </div>
  <div class="small-4"></div>
</div>

